In [13]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
url="/content/drive/MyDrive/dataset/train.csv"

# New Section

In [14]:
df=pd.read_csv(url)

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
plt.figure(figsize=(10, 6))
plt.scatter(df['LotArea'], df['SalePrice'], color='blue', alpha=0.5)
plt.title('Scatter Plot: Lot Area vs Sale Price')
plt.xlabel('Lot Area')
plt.ylabel('Sale Price')
plt.show()

In [ ]:
# Example of creating a histogram
df['SalePrice'].plot.hist(bins=20, edgecolor='black')
plt.title('Histogram of Sale Prices')
plt.xlabel('Sale Price')
plt.ylabel('Frequency')
plt.show()

In [45]:
data = {
    'Id': [1, 2, 3, 4, 5],
    'MSSubClass': [60, 20, 60, 70, 60],
    'MSZoning': ['RL', 'RL', 'RL', 'RL', 'RL'],
    'LotFrontage': [65.0, 80.0, 68.0, 60.0, 84.0],
    'LotArea': [8450, 9600, 11250, 9550, 14260],
    'Street': ['Pave', 'Pave', 'Pave', 'Pave', 'Pave'],
    # ... (other columns)
    'YrSold': [2008, 2007, 2008, 2006, None],
    'SaleType': ['WD', 'WD', 'WD', 'WD', None],
    'SaleCondition': ['Normal', 'Normal', 'Normal', 'Abnorml', None],
    'SalePrice': [208500, 181500, 223500, 140000, None]
}

In [ ]:
# Bar Plot
df = pd.DataFrame(data)
plt.figure(figsize=(10, 6))
df['MSZoning'].value_counts().plot(kind='bar')
plt.title('MSZoning Distribution')
plt.xlabel('Zoning')
plt.ylabel('Count')
plt.show()

In [48]:
df = pd.DataFrame(data)

In [ ]:
# Histogram
plt.figure(figsize=(10, 6))
df['LotArea'].plot(kind='hist', bins=20)
plt.title('Lot Area Distribution')
plt.xlabel('Lot Area')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Box Plot
plt.figure(figsize=(10, 6))
df.boxplot(column='SalePrice')
plt.title('Sale Price Distribution')
plt.ylabel('Sale Price')
plt.show()

In [ ]:
# Scatter Plot
plt.figure(figsize=(10, 6))
plt.scatter(df['LotFrontage'], df['SalePrice'])
plt.title('Scatter Plot: Lot Frontage vs Sale Price')
plt.xlabel('Lot Frontage')
plt.ylabel('Sale Price')
plt.show()

In [ ]:
# Pie Chart
plt.figure(figsize=(8, 8))
df['SaleCondition'].value_counts().plot(kind='pie', autopct='%1.1f%%')
plt.title('Sale Condition Distribution')
plt.ylabel('')
plt.show()

In [ ]:
#observations:
'''
1.Bar Plot: MSZoning Distribution

The majority of properties in the dataset have the "RL" zoning (Residential Low Density).
There are no properties with other zoning codes in this small sample.
2.Histogram: Lot Area Distribution

The histogram shows that most of the properties have lot areas in the lower range, with a few properties having larger lot areas.
This is consistent with a typical distribution for residential properties.
3.Box Plot: Sale Price Distribution

The box plot indicates potential outliers in the sale prices, with some properties having significantly higher prices compared to the rest.
The median sale price appears to be between certain values.
4.Scatter Plot: Lot Frontage vs Sale Price

There is no clear linear correlation between lot frontage and sale price.
The data points seem to be scattered, without any obvious pattern.
5.Pie Chart: Sale Condition Distribution

Most of the properties have a "Normal" sale condition.
The pie chart highlights the distribution of different sale conditions in the dataset



'''

In [22]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
path ="/content/drive/MyDrive/dataset/train_titanic.csv"
dp=pd.read_csv(path)
#dp=pd.DataFrame(data_dict)

In [ ]:
dp.head()

In [24]:
dp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [25]:
dp.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [32]:
data = {
    'PassengerId': [1, 2, 3, 4, 5],
    'Survived': [0, 1, 1, 1, 0],
    'Pclass': [3, 1, 3, 1, 3],
    'Name': ['Braund, Mr. Owen Harris', 'Cumings, Mrs. John Bradley', 'Heikkinen, Miss. Laina', 'Futrelle, Mrs. Jacques Heath', 'Allen, Mr. William Henry'],
    'Sex': ['male', 'female', 'female', 'female', 'male'],
    'Age': [22.0, 38.0, 26.0, 35.0, 35.0],
    'SibSp': [1, 1, 0, 1, 0],
    'Parch': [0, 0, 0, 0, 0],
    'Ticket': ['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450'],
    'Fare': [7.2500, 71.2833, 7.9250, 53.1000, 8.0500],
    'Cabin': [None, 'C85', None, 'C123', None],
    'Embarked': ['S', 'C', 'S', 'S', 'S']
}

df = pd.DataFrame(data)

In [ ]:
df['Pclass'].value_counts().sort_index().plot(kind='bar', figsize=(8, 6))
plt.title('Passenger Class Distribution')
plt.xlabel('Passenger Class')
plt.ylabel('Count')
plt.show()

In [ ]:
df['Age'].plot(kind='hist', bins=20, figsize=(8, 6))
plt.title('Age Distribution')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

In [ ]:
df['Sex'].value_counts().plot(kind='bar', figsize=(8, 6))
plt.title('Passenger Gender Distribution')
plt.xlabel('Gender')
plt.ylabel('Count')
plt.show()

In [ ]:
# Bar Plot of Passenger Class
plt.figure(figsize=(8, 6))
df['Pclass'].value_counts().sort_index().plot(kind='bar')
plt.title('Passenger Class Distribution')
plt.xlabel('Passenger Class')
plt.ylabel('Count')
plt.show()

In [ ]:
# Histogram of Ages
plt.figure(figsize=(8, 6))
df['Age'].plot(kind='hist', bins=20)
plt.title('Age Distribution')
plt.xlabel('Age')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Count of Passengers by Gender
plt.figure(figsize=(8, 6))
df['Sex'].value_counts().plot(kind='bar')
plt.title('Passenger Gender Distribution')
plt.xlabel('Gender')
plt.ylabel('Count')
plt.show()

In [ ]:
# Scatter Plot of Age vs Fare
plt.figure(figsize=(8, 6))
plt.scatter(df['Age'], df['Fare'], alpha=0.7)
plt.title('Scatter Plot: Age vs Fare')
plt.xlabel('Age')
plt.ylabel('Fare')
plt.show()

In [ ]:
# Box Plot of Fare by Passenger Class
plt.figure(figsize=(8, 6))
df.boxplot(column='Fare', by='Pclass')
plt.title('Box Plot: Fare by Passenger Class')
plt.xlabel('Passenger Class')
plt.ylabel('Fare')
plt.suptitle('')  # Remove default title
plt.show()

In [ ]:
# Pie Chart of Survival Rate
plt.figure(figsize=(8, 6))
survival_counts = df['Survived'].value_counts()
plt.pie(survival_counts, labels=['Not Survived', 'Survived'], autopct='%1.1f%%', startangle=90)
plt.title('Survival Rate')
plt.show()

In [ ]:
#observations
'''
1.Passenger Class Distribution (Bar Plot):

Most of the passengers in the dataset belong to the 3rd class (Pclass=3).
The number of passengers decreases from 1st class to 3rd class.
2.Age Distribution (Histogram):

The age distribution appears to be somewhat right-skewed.
The majority of passengers are between the ages of 20 and 40.
3.Passenger Gender Distribution (Bar Plot):

There are more male passengers than female passengers in the dataset.
Gender distribution is not equal, with a larger number of males.
4.Scatter Plot: Age vs Fare:

There is no strong linear correlation between age and fare.
Fares vary across different age groups, but there is no clear trend.
5.Box Plot: Fare by Passenger Class:

The box plot shows that the fares for 1st class tend to be higher compared to 2nd and 3rd classes.
There are potential outliers in each class, particularly in the 1st class.
6.Pie Chart: Survival Rate:

The pie chart illustrates the distribution of survival outcomes.
A higher percentage of passengers did not survive compared to those who survived.


'''